<form>
  <input type="text" ng-model="search">
  <p ng-show="search">Filtered by: {{search}}</p>
</form>

<table class="table" ng-controller="ProjectsCtrl">
<tr>
	<th>UUID</th>
	<th>Name</th>
	<th>Description</th>
	<th></th>
</tr>
<tr ng-repeat="project in projects | filter:search">
  <td>{{project.uuid}}</td>
  <td>{{project.name}}</td>
  <td>{{project.description}}</td>
  <td><a href class="btn btn-default btn-sm" ng-click="mappingTable.setProject(project);">Details</a></td>
</tr>
</table>


<div ng-controller="MappingTableCtrl">
<div ng-hide="mappingTable.getMappings().length" class="alert alert-info">Select a project</div>
<div ng-show="mappingTable.getMappings().length">
	<table class="table">
	  <tr ng-repeat="mapping in mappingTable.getMappings()" class="item">
	    <td>{{mapping.uuid}}</td>
	    <td>{{mapping.name}}</td>
	    <td>
			<div ng-repeat="imapi in mapping.input_attribute_paths" >
				<!--<span>{{imapi.filter.expression}}</span>--> <!-- this is still a string -- escaped JSON! -->
				
				<!-- Does not work:-->
				
				<div ng-show="imapi.filter!=null && imapi.filter.expression!=null">
				
<!-- 					<div>filter: {{imapi.filter}}</div> -->
<!-- 					<div>expression(s): {{imapi.filter.expression}}</div> -->
				
					<div ng-repeat="expression in imapi.filter.expression" >
<!-- 						<div>expression: {{expression}}</div> -->
						
						<div ng-repeat="(id,fieldrestriction) in expression" >
						<div>field: {{id}}</div>
						<div>type: {{fieldrestriction.type}}</div>
						<div>value: {{fieldrestriction.expression}}</div>
						<div>value (old): {{fieldrestriction}}</div>
						
					</div>
<!-- 					filter expressions exist -->
<!-- 					<div>expressions: {{mappingTable.getFilterExpression(imapi)}}</div> -->
<!-- 					<div>expression 1: {{mappingTable.getFilterExpression(imapi)[0]}}</div> -->
				</div>

			</div>
	    </td>
	  </tr>
	</table>
	<div>{{mappingTable.getMappings().length}} Mappings</div>
</div>
</div>
